.navbar {
        background-color: rgba(0, 0, 0, 0.459);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        gap: 15px;
        z-index: 1000;
        background: rgba(255, 192, 203, 0.479);
        border-bottom-style: groove;
        border-bottom-color: rgba(0, 0, 0, 0.432);
        align-items: center;       /* aligne logo et boutons verticalement */
       

    }
    .page {
        display: none;
      padding: 80px 20px;
      display: none; /* cachée par défaut */
    }
    .active {
      display: block; /* visible */
    }
    .navbar button {
      color: black;
      border-color: rgba(128, 128, 128, 0.596);
      margin: 10px;
      padding: 10px 20px;
      border-radius: 30px;
    }

    .navbar button:hover {
        background: #666;
    }
    .navbar img {
        height: 40px;
    }